@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Config */
/* Variable */
:root {
  /* color */
  --white-clr: #fff;
  --black-clr: #000;
  --hover-clr: #ccc;

  /* size */
  --header-height: 4.7rem;
}

html,
body {
  font-size: 62.5%;
  line-height: 1.4;
  font-family: 'Lato', sans-serif;
}

a,
a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Common */
.wrapper {
  max-width: 80rem;
  padding: 7.4rem 0 11.2rem;
  margin: 0 auto;
}

.band-title {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 400;
}

.band-slogan {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  font-style: italic;
  text-align: center;
  opacity: 0.6;
}

.bbtn {
  display: block;
  outline: none;
  border: none;
  min-width: 10.8rem;
  height: 4rem;
  color: var(--white-clr);
  background: var(--black-clr);
  text-transform: capitalize;
}

.bbtn:hover {
  color: var(--black-clr);
  background: var(--hover-clr);
}

.active {
  display: block !important;
}

/* App */
#app {
  font-size: 1.6rem;
}

/* psct
- position
- size
- color
- type
*/

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  background: var(--black-clr);
}

.header .nav-pc {
  display: flex;
  justify-content: space-between;
}

.header .nav-list {
  display: flex;
}

.header .nav-list .nav-item {
  position: relative;
}

.header .nav-item > a {
  position: relative;
  display: block;
  height: var(--header-height);
  line-height: var(--header-height);
  padding: 0 2.4rem;
  font-size: 1.5rem;
  color: var(--white-clr);
  text-transform: uppercase;
}

.header .nav-item:hover > a,
.header .subnav-item:hover > a,
.header .nav-mobile .nav-mobile-link:hover {
  color: var(--black-clr);
  background: var(--hover-clr);
}

.header .nav-item.has-subnav > a {
  padding-right: 3.6rem;
}

.header .arrow-down {
  position: absolute;
  top: 50%;
  right: 2.4rem;
  transform: translateY(calc(-50% - 1.6rem / 4));
}

.header .nav-item .subnav-list {
  display: none;
  min-width: 16rem;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--white-clr);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}

.header .nav-item:hover .subnav-list {
  display: block;
}

.header .subnav-list .subnav-item {
}

.header .subnav-item > a {
  display: block;
  font-size: 1.5rem;
  color: var(--black-clr);
  padding: 8px 16px;
}

.header .search-icon {
  color: var(--white-clr);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
}

.header .search-icon:hover {
  background: #f44336;
}

/* Navbar Mobile */
.header .nav-mobile {
  display: none;
  justify-content: space-between;
}

.header .nav-mobile .nav-mobile-link {
  position: relative;
  display: block;
  height: var(--header-height);
  line-height: var(--header-height);
  padding: 0 2.4rem;
  font-size: 1.5rem;
  color: var(--white-clr);
  text-transform: uppercase;
}

.header .nav-mobile .nav-mobile-menu {
  outline: none;
  border: none;
  background: transparent;
  color: var(--white-clr);
  padding: 0 2.4rem;
  font-size: 1.6rem;
}

.header .nav-mobile .nav-mobile-menu:hover {
  color: var(--black-clr);
  background: var(--hover-clr);
}

.header .nav-mobile .nav-mobile-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: var(--black-clr);
}

.header .nav-mobile-list .nav-mobile-item {
  position: relative;
}

.header .nav-mobile-item .arrow-down {
  left: 7.5rem;
}

.header .nav-mobile-item .subnav-mobile-list {
  display: none;
  padding-left: 1rem;
}

.header .nav-mobile-list .subnav-mobile-item {
}

/* Main */
.main {
  margin-top: var(--header-height);
}

/* Band Slider */
.main .band-slider {
}

.band-slider {
}

.band-slider .carousel-caption {
  bottom: 4rem;
}

.band-slider .carousel-caption h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.band-slider .carousel-caption p {
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px 3px 5px rgba(0, 0, 0, 0.5);
}

/* Intro */
.main .intro {
}

.intro .intro-description {
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-align: justify;
}

.intro .member-list {
  margin-top: 3.2rem;
  display: flex;
}

.intro .member-list .member-item {
  flex: 1 1 calc(100% / 3);
}

.intro .member-item .member-name {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.5rem 0;
}

.intro .member-item .member-avatar {
  display: block;
  width: 60%;
  margin: 0 auto;
}

/* Tour */
.main .tour {
  background: #000;
}

.tour .band-title {
  color: var(--white-clr);
}

.tour .band-slogan {
  color: var(--hover-clr);
}

.tour .ticket-list {
  background: var(--white-clr);
  margin: 3rem 0;
  color: #757575;
}

.tour .ticket-list .ticket-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.tour .ticket-item .sold-out {
  display: inline-block;
  margin-left: 1.5rem;
  background: #f44336;
  color: var(--white-clr);
  padding: 0 8px;
}

.tour .ticket-item .ticket-count {
  --size: 2.6rem;
  position: absolute;
  top: 50%;
  right: 3.2rem;
  transform: translateY(-50%);
  display: inline-block;
  color: var(--white-clr);
  background: var(--black-clr);
  width: var(--size);
  height: var(--size);
  line-height: var(--size);
  text-align: center;
  border-radius: 50%;
}

.tour .place-list {
  display: flex;
  gap: 1.6rem;
  background: #000;
}

.tour .place-list .place-item {
  flex: 1 1 calc((100% - 2 * 1.6rem) / 3);
}

.tour .place-item .place-image {
  width: 100%;
}

.tour .place-item .place-image:hover {
  opacity: 0.6;
}

.tour .place-item .place-content {
  padding: 1.6rem;
  background: var(--white-clr);
  font-size: 1.5rem;
}

.tour .place-content .place-title {
  font-weight: bold;
  font-size: inherit;
}

.tour .place-content .place-date {
  margin: 1.8rem 0 1.6rem;
  opacity: 0.7;
}

.tour .place-content .place-description {
  text-align: justify;
}

/* Contact */
.main .contact {
}

.contact .contact-content {
  display: flex;
  justify-content: space-between;
}

.contact .contact-info-list {
  flex: 1;
}

.contact .contact-info-item {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.contact .contact-info-item > span {
  margin-left: 1.5rem;
}

.contact .contact-form {
  flex: 1;
}

.contact .contact-form .form-wrap {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contact .contact-form .form-wrap:last-child {
  display: flex;
  justify-content: end;
}

.contact .form-wrap .form-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
}

.contact .form-wrap .bbtn {
  text-transform: uppercase;
}

.footer {
}

.footer .map {
  max-width: 100%;
  filter: grayscale(50%);
}

.footer .footer-wrap {
  padding: 7rem 0;
}

.footer .footer-wrap .socials {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.footer .footer-wrap .socials > a {
  color: var(--black-clr);
  opacity: 0.7;
}

.footer .footer-wrap .socials > a:hover {
  opacity: 0.4;
}

.footer .footer-wrap .socials > a:not(:first-child) {
  margin-left: 8px;
}

.footer .footer-wrap .copyright {
  text-align: center;
}

.footer .footer-wrap .copyright > a {
  text-transform: uppercase;
}

